.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  padding: 1.25rem;
  margin-top: 2rem;
}

.button {
  background-color: white;
  border: none;
  font-family: 'DM Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
  flex-basis: 50%;
  
  h2 {
    color: black;
  }

  &:first-child {
    margin-right: auto;
    margin-left: 0;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}
