.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.25rem;

  
}

.button {
  background-color: white;
  border: none;
  font-family: 'DM Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
  
  .button-left {
    left: 0;
  }

  .button-right {
    right: 0;
  }

  h2 {
    color: black;
  }

  &:first-child {
    margin-right: auto;
    margin-left: 0;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}

.button:hover {
  background-color: black;
  cursor: pointer;
  
  h2 {
    color: white;
  }
  
  a {
    text-decoration: none;
  }
}
