@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

body {
  margin: 2rem 2rem 10rem;
  padding: 0rem;
  font-family: 'DM Mono', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: rgb(16, 101, 16);
}
