.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  max-width: 75rem; /* set a max-width that fits within the window */
}

.grid-item {
  grid-column: span 1;
}