.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 6rem;
}

.info-text {
  font-size: 2rem;
  text-align: center;
  width: 75%;
}
  