.image-container {
  width: 100%;
  padding-bottom: 100%; /* set height to width */
  position: relative;
}

.image-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
