.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
  
.post-title {
    margin-bottom: 1rem; /* add some spacing between the heading and video */
}

.post-video {
    width: auto;
    height: 100%;
}
