.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh,
}
  
.post-title {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.post-video {
    width: auto;
    height: 80%;
}
